
.filtered-properties-container {
    padding: 20px;
}


.filtered-properties-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
}


.filtered-properties-filter-bar {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; 
    color: #ffffff;
}



.filter-title-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    width: 100%; /* Hacer que el input sea del 100% en pantallas pequeñas */
    max-width: 200px; /* Limitar el ancho máximo en pantallas más grandes */
}


.filter-price-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; 
    max-width: 150px; 
}


.filtered-properties-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    gap: 20px;
    color: #ffffff;
}


.filtered-property-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}


.filtered-property-card:hover {
    transform: scale(1.02);
}


.filtered-property-image {
    width: 100%;
    height: 200px; 
    overflow: hidden;
}

.filtered-property-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.filtered-property-info {
    padding: 15px;
}


.filtered-property-price {
    font-weight: bold;
    color: #007bff;
}


.filtered-property-details-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.filtered-property-details-btn:hover {
    background-color: #ffffff;
}


.filtered-properties-modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.filtered-properties-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;
    color: #333;
}


.filtered-properties-modal-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}


.filtered-properties-close-btn {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    position: absolute;
    top: 10px;
    right: 10px;
}

.filtered-properties-close-btn:hover {
    background: #c0392b;
}


.filtered-properties-no-results {
    font-size: 1.2em;
    color: #888;
    text-align: center;
}


@media (max-width: 768px) {
    .filtered-properties-title {
        font-size: 1.5em;
    }

    .filtered-properties-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    }
}
